<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1>Fruits</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let fruit of fruits" (click)="selected.emit(fruit)">
        <h3 mat-line>Title: {{ fruit.name }}</h3>
        <p mat-line>Details: {{ fruit.details }}</p>
        <button
          mat-icon-button
          (click)="deleted.emit(fruit); $event.stopImmediatePropagation()"
        >
          <mat-icon *ngIf="!readonly">close</mat-icon>
        </button>
        <button
          mat-icon-button
          (click)="$event.stopImmediatePropagation()"
          [routerLink]="fruit.id"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
