<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1>
        <span *ngIf="currentFruit.id; else elseBlock">{{originalTitle}}</span>
        <ng-template #elseBlock>Select A Fruit</ng-template>
      </h1>
    </mat-card-title>
  </mat-card-header>

  <form [formGroup]="form" (submit)="saved.emit(currentFruit)">
    <mat-card-content>
      <mat-form-field class="full-width">
        <input
        matInput
        placeholder="Name"
        formControlName="name"
        type="text"
        name="name"
        />
        <mat-error *ngIf="form.get('name')">Required Field</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input
        matInput
        placeholder="Details"
        formControlName="details"
        type="text"
        name="details"
        />
        <mat-error *ngIf="form.get('details')">Required Field</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input
        matInput
        placeholder="Taste Level"
        formControlName="tasteLevel"
        type="text"
        name="tasteLevel"
        />
        <mat-error *ngIf="form.get('tasteLevel')">Required Field</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input
        matInput
        placeholder="Approved"
        formControlName="approved"
        type="text"
        name="approved"
        />
        <mat-error *ngIf="form.get('approved')">Required Field</mat-error>
      </mat-form-field>
      <mat-card-actions>
        <button
        type="submit"
        [disabled]="form.invalid"
        mat-button
        color="primary"
        >{{ currentFruit.id ? 'Save' : 'Create' }}
      </button>
      <button type="button" mat-button (click)="cancelled.emit(currentFruit)">
        Cancel
      </button>
      </mat-card-actions>
    </mat-card-content>
  </form>
</mat-card>
